@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neon-green-lighter: 82.77% 0.057 165.9;
    --neon-green-light: 90% 0.157 185.73;
    --neon-green-dark: 81.08% 0.14993954443651095 177.3694855517465;
    --neon-green-darker: 72.41% 0.166 157.77;
    --neon-yellow: 92.9% 0.22 120.98;
  }

  * {
    @apply font-montserrat selection:bg-neon-green-light selection:text-black motion-reduce:!animate-none;
  }

  a,
  button {
    @apply select-none;
  }

  nav {
    @apply rounded-b-lg border-4 border-solid border-transparent lg:rounded-none lg:border-none;
    border-image: linear-gradient(to bottom, theme('colors.neon-green-light'), theme('colors.transparent')) 1 100%;
  }
}
