@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* #0cffed */
    --brand: 0.9 0.16 185.73;
    /* #00e0c0 */
    --brand2: 0.81 0.15 177.64;
    /* #d3fc17 */
    --cyber: 0.93 0.22 121.03;
  }

  * {
    @apply font-montserrat motion-reduce:!animate-none;
  }
}
