@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neon-green-lighter: 82.77% 0.057 165.9;
    --neon-green-light: 90% 0.157 185.73;
    --neon-green-dark: 81.08% 0.14993954443651095 177.3694855517465;
    --neon-green-darker: 72.41% 0.166 157.77;
    --neon-magenta-light: 67.09% 0.279 344.72;
    --neon-magenta-dark: 27% 0.032 341.91;
    --neon-yellow: 92.9% 0.22 120.98;
  }

  * {
    @apply font-balsamiq selection:bg-neon-magenta-dark selection:text-neon-magenta-light;
  }

  a,
  button {
    @apply select-none;
  }

  nav {
    @apply rounded-b-lg border-4 border-solid border-transparent lg:rounded-none lg:border-none;
    border-image: linear-gradient(to bottom, theme('colors.neon-green-light'), theme('colors.transparent')) 1 100%;
  }

  section {
    @apply size-full text-center text-white;

    h2 {
      @apply text-neon-green-light ~text-lg/2xl;
    }

    h3 {
      @apply mt-4 text-neon-green-lighter ~text-base/xl;
    }
  }

  canvas {
    @apply cursor-grab active:cursor-grabbing;
  }
}
